{
  "editor.renameOnType": true,
  "prettier.semi": false,
  "workbench.statusBar.visible": true,
  "[json]": {
      "editor.defaultFormatter": "vscode.json-language-features"
  },
  "editor.rulers": [
      80, 120
  ],
  "editor.codeActionsOnSave": {
      "source.fixAll.eslint": true
  },
  "terminal.external.osxExec": "iTerm.app",
  "terminal.integrated.automationShell.osx": "",
  "terminal.integrated.shell.osx": "/bin/bash",
  "terminal.integrated.fontFamily": "Cousine Nerd Font Mono, Menlo, Monaco, 'Courier New', monospace",
  "gitlens.gitCommands.skipConfirmations": [
      "fetch:command",
      "stash-push:command",
      "switch:command",
      "branch-create:command"
  ],
  "editor.inlineSuggest.enabled": true,
  "editor.fontFamily": "Cousine Nerd Font Mono, Menlo, Monaco, 'Courier New', monospace",
  "terminal.integrated.tabs.enabled": false,
  "terminal.integrated.fontSize": 14,
}
