# {{ ansible_managed }}

[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[apply]
  whitespace = nowarn

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

{% if git_signing_key %}
[commit]
  gpgsign = true
{% endif %}

[core]
  # editor = vim
  editor = code --wait
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes_global

{% if ansible_os_family == 'Darwin' %}
[credential]
  helper = osxkeychain
{% endif %}

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset

[github]
  user = {{ github_user }}

[hub]
  protocol = https

[include]
  path = ~/.gitconfig_local


[push]
  default = simple

[user]
  name = {{ git_client_name }}
  email = {{ git_client_email }}
{% if git_signing_key %}
  signingkey = {{ git_signing_key }}
{% endif %}
