# Copy this to ~/.profile and modify as desired on the individual machine
# Uncomment the configurations you wish to apply

# Use Sublime as Editor
# export EDITOR="subl -n -w"
# export EDITOR="code --wait"
