# User specific aliases and functions
alias ll='ls -laF'
alias l='ls -la'

# Git
alias gs='git status'
alias gd='git diff'
alias ga='git add'
alias gc='git commit'
alias gg='git grep'

# Vim
# alias vim='nvim'
# alias vi='nvim'

# Memcached
alias flushmem="echo 'flush_all' | nc localhost 11211"
alias statsmem="echo 'stats' | nc 127.0.0.1 11211"

if [ -x /usr/local/bin/git ]; then
  alias gl='git log --oneline --abbrev-commit --all --graph --decorate --color'
fi

if [ -x ~/.rbenv/shims/bundle ]; then
  alias be='bundle exec'
fi
